* {
    font-family:Verdana;
    margin: 0%;
    color: #000000;
}
header 
{
    background-color: #2b5fad;
    margin: 0; 
    padding: 2vh 20vw 1vh;
}
header p {color: rgb(255, 255, 255);}
header h1 {color: rgb(231, 231, 231);}

section.contentCont
{
    padding: 5vh 20vw 2vh;
}
section.media {
    display: flex;
    justify-content: center;
    align-items: center;
}
article.list 
{
    margin: 10%
}
article.list li 
{
    margin: 2vw;
}
article.profilePic img {
    width: 50vh;
    border-radius: 50%;
}
article.skillCont 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
article.skillCont div
{
    width: 40%;
    padding: 1vh;
    border: solid 5px #1d8bd4;
    text-align: center;
    margin: 1vh;
}

@media screen and (max-width:720px) {
    header 
    {
        padding: 5vw;
    }

    section.contentCont
    {
        padding: 2vh 5vw 2vh;
    }
    section.media {
        display: flex;
        flex-direction: column;
    }
    article.list ul
    {
        display: none;
    }
    article.profilePic img
    {
        width: 70vw;
    }
    section.skills
    {
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
